@page
@model Index

<div class = "container mt-5">
<h1>Apartments</h1>
<table class="table">
    <thead class="thead-dark">
    <tr class = "table-secondary">
        <td>№</td>
        <td>Image</td>
        <td>Description</td>
        <td>Address</td>
        <td>Square</td>
        <td>Owner</td>
        <td>Modify</td>
    </tr>
    </thead>
    <tbody>
    @{
    int id = 0;
  
        
    @foreach (var apartment in Model.Apartments)
    {
        var base64 = Convert.ToBase64String(apartment.Image);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        
        id++;
         <tr>
             <td class="bg-warning">@id  </td>
             
                <td ><img src="@imgSrc" style="max-width: 20rem;  border: burlywood 2px solid"/></td>
             <td style=" max-width: 30rem;">
                 <div style="max-height: 10rem; 
             
                 text-overflow: ellipsis; 
                 white-space: normal;
                  overflow: paged-y; 
                  overflow-x: hidden;
                    border: burlywood 1px dashed">
                     @apartment.Description
                 </div>
             </td>
             <td>@apartment.Address</td>
             <td>@apartment.Square m²</td>
            <td> <a target="_blank" asp-page="/Owner/Index" asp-route-ownerId="@apartment.OwnerId">Visit owner page</a></td>
             <td>
                 <div class="m-2">
                          <a class="btn btn-warning" asp-page="edit" asp-route-apartmentId="@apartment.Id" role="button">Edit</a>
                     </div>
                    <div  class="mt-5">
                          <a class="btn btn-danger" asp-page="delete" asp-route-apartmentId="@apartment.Id" role="button">Delete</a>
                    </div>
             </td>
        </tr>
        }
    }
    </tbody>

</table>


<a class="text-center btn btn-primary" href="/apartments/create" role="button">Create</a>
</div>